/* - my reset css kit */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth; word-break: keep-all;
  overflow-x: hidden;
}
body {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

ol::after, ul::after, dl::after {
  content: ''; display: block; clear: both;
}

li::after {content: ''; display: block; clear: both;}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}
th, td {vertical-align: middle;}

a {
  text-decoration: none;
  color: inherit;
}

input, select, textarea, button {
	border: 0;
  box-sizing: border-box;
}
textarea {resize: vertical;}

input[type="checkbox"],
input[type="radio"], select, button {
  cursor: pointer;
}
input[type="checkbox"], input[type="radio"]{
  width: 16px;
  height: 16px;
}

/*  */

body{
    background-color: #e9e9f0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    margin: 20px;
}

.frame, .header, .main, .footer, .contents_box, .header_sheet {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
}


.frame {
    max-width: 800px;
    flex-direction: column;
}

.header{
    background-color: #fff;
    position: fixed;
    top: 0;
    max-width: 800px;
}

.header_sheet{
    margin: 40px;
}
.Weather {
    margin-right: auto;
}
.proifle {
    margin-left: auto;
}

.main {
    flex-direction: column;
}

/*  */

.main_contents1{
    background-color: #fff;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 150px;
}

.contents_box{
    margin-top: 40px;
}
.contents {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.contents:first-child{
    margin-left: 0;
}




.icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#icon_background1 {
    background-color: #00000015;
}
#icon_background2{
    background-color: #00000015;
}
#icon_background3{
    background-color: #00000015;
}
#icon_background4{
    background-color: #00000015;
}

.profile_img{
    width: 50px;
    border-radius: 50%;
}

/*  */

.main_contents2 {
    background-color: #fff;
    border-radius: 10px;
}

.contents_box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contents2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e9e9f0;
    width: 300px;
    height: 150px;
    margin-left: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
}
.contents2:first-child{
    margin-left: 0;
}
.contents2:nth-child(2n + 1){
    margin-left: 0;
}



/*  */
