

.detail {
    display: none;
}


.item {
    position: relative;
}


.over {
    position: absolute;
    bottom: 10px;
    background-color: aliceblue;
    border: 0;
    font-weight: bold;
    opacity: 0.5;
    border-radius: 4px;
    left: 4px;
}

/* .close {
    display: none;
    position: absolute;
    bottom: 10px;
    background-color: aliceblue;
    border: 0;
    font-weight: bold;
    opacity: 0.5;
    border-radius: 4px;
    left: 4px;
} */







































































