/*  */

li, ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/*  */

body {
    background-color: #eceded;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.weather_box {
    background-color: #fff;
    box-shadow: 3px 3px 3px 3px gray;
    width: 400px;
    height: 150px;
    border-radius: 20px;
}

.weather {
    display: flex;
    margin: 10px;
    padding: 10px;
}

.weather_info {
    display: flex;
    margin: 10px;
    padding: 10px;
}

.weather_info > li {
    margin-left: 15px;
}
.weather_info > li:first-child{
    margin-left: 0;
}

.tab {
    margin-top: 40px;
    margin-bottom: 20px;
}

.tab > ul {
    display: flex;
}

.tab_list {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.living_room {
    width: 400px;
    height: auto;
}

.living_room > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: auto;
}


.living_room_check {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #fff;
    width: 180px;
    height: 180px;
    box-shadow: 3px 3px 3px 3px gray;
    border-radius: 20px;
    margin: 10px;
}


/* .living_room_check:active {
    background-color: aquamarine;
} */



input[type="checkbox"]:checked + label {
    background-color: rgb(173, 213, 250);
    box-shadow: 3px 3px 3px 3px gray inset;
}

input:checked + label > .switch {
    background-color: rgb(90, 90, 247);
    border-color: rgb(90, 90, 247);
}
input:checked + label > .switch::before{
    content: "";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: #fff;
    transition: left 250ms linear;
    left: 1em;

}

input {
    display: none;
   position: absolute;
   top: 50px;
   left: 50px;
   z-index: 1;
}

.switch {
    margin-top: 10px;
    margin-left: 100px;
    appearance: none;
    position: relative;
    border: max(2px, 0.1em) solid gray;
    border-radius: 1.25em;
    width: 2em;
    height: 1.1em;
}

.switch::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: gray;
    transition: left 250ms linear;
}


/* .switch:checked {
    background-color: rgb(90, 90, 247);
    border-color: rgb(90, 90, 247);
}

.switch:checked::before {
    background-color: white;
    left: 1em;
} */

















